<table style="width:100%" border="0" cellpadding="0" cellspacing="0">
    <tr style="font-size:18px">
        <td style="width:100px; text-align:center">@Html.ActionLink("系統公告", "Index", "SystemDetail", new { Style="color:white" })</td>
        <td style="width:100px; text-align:center">@Html.ActionLink("基本資料", "Index", "EmployeeDetail", new { Style = "color:white" })</td>
        <td style="width:100px; text-align:center">@Html.ActionLink("職務調動", "Index", "EmployeeJobDetail", new { Style = "color:white" })</td>
        <td style="width:100px; text-align:center">休假管理</td>
        <td style="width:100px; text-align:center">請假管理</td>
        <td style="width:100px; text-align:center">系統參數</td>
        <td style="width:100px; text-align:center">簽到管理</td>
        <td style="width:100px; text-align:center">開發需求</td>
        <td style="width:100px; text-align:center">系統登出</td>
    </tr>
</table>